.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container1 {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.card-container2 {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.card-container3 {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.text-gray1 {
  background-color: rgb(228, 68, 68);
  margin: 5px
}

.text-gray2 {
  background-color: rgb(162, 139, 243);
  margin: 5px
}

.text-gray3 {
  background-color: rgb(243, 198, 139);
  margin: 5px
}

.text-blue {
  background-color: rgb(137, 137, 231)
}

.del {
  background-color: rgb(160, 224, 224);
  margin: 5px
}

.add-bus {
  margin-left: 20000px;
}

.blueButton{
  background-color: blue;
  color: white;
}

.greenButton{
  background-color: green;
  color: white
}

.blackButton{
  background-color: black;
  color: white;
}

.whiteButton{
  background-color: white;
  color: black;
}

.unlist { color: #16150f; font-family: 'Raleway',sans-serif; font-size: 15px; line-height: 22px;  }